
*{
font-family:Rubik
}
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***user table***/
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}

.userTable td{
    @apply border text-base text-center
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}



.nav-logo p{
    margin-top: 12px;
    color: #284728;
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 10px;
}
.nav-logo>p:hover {
    animation: shine 1.5s infinite;
}
@keyframes shine {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(135, 135, 6), 0 0 20px rgb(141, 252, 141), 0 0 25px olive, 0 0 30px rgb(176, 249, 176);
    }
    100% {
        text-shadow: none;
    }
}